.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}
        
.gallery-image {
    max-width: 360px;
    height: 200px;
}

.gallery-item:hover{
    transform:scale(1.1);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}